@using KvartsShop.Models.Context
@using KvartsShop.Models

@{
    DataContext db = new DataContext();
    IEnumerable<Catalog> catalogs = db.Catalogs;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/Layout/watchBrand.png" width="30" style="margin:10px;" />
                @Html.ActionLink("KVARTS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand shadow-brand", @style = "font-size: 40px;" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li style="background-color: darkred; font-weight:bold; font-size:20px; margin:0px;">@Html.ActionLink((Session["userId"] != null) ? "Log off" : "Log in", "Home", "Admin")</li>
                </ul>
                <button class="btn btn-primary pull-right" style="margin:5px; margin-bottom:8px;">
                    <img src="~/Content/Images/Layout/basket.png" style="width:30px;" />
                    <div class="circle">
                        1
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-2 panel panel-info" style="padding-right:5px;">
                <div class="panel-heading text-center red" style="font-size:30px;">
                    Catalog
                </div>
                @foreach (Catalog catalog in catalogs)
                {
                    <div class="panel-body" style="padding:5px; margin:7px; font-size:20px;" id="catalog_@catalog.Id">
                        <img src="@catalog.ImagePath" width="25" />
                        @catalog.Name
                    </div>
                }
            </div>
            <div class="col-md-10" style="background-color:rgb(229, 229, 229);">
                @RenderBody()
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        var panelBodys = document.getElementsByClassName("panel-body");

        for (panelBody of panelBodys) {
            panelBody.onclick = (e) => {
                location.href = "/Product/Index/" + e.target.id.toString().replace("catalog_", "");
            }
        }

        setInterval(function () {
            var hours = new Date().getHours();
            $(".hours").html((hours < 10 ? "0" : "") + hours);
        }, 1000);
        setInterval(function () {
            var minutes = new Date().getMinutes();
            $(".min").html((minutes < 10 ? "0" : "") + minutes);
        }, 1000);
        setInterval(function () {
            var seconds = new Date().getSeconds();
            $(".sec").html((seconds < 10 ? "0" : "") + seconds);
        }, 1000);
    </script>
</body>
</html>
